*{
    margin:0;
    padding: 0; 
    box-sizing: border-box;
}

.game-board{
    width: 80%;
    height: 500px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
}

.pipe{
    position: absolute;
    bottom: 0;  
    width: 88px;
    right: -88px;
    animation: pipe-animation 2s infinite linear;
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
    animation: mario-jump-animation 500ms;
}




/* key Frames */

/* Animação Tubo */
@keyframes pipe-animation{
    from{
        right: -88px;
    }
    to{
        right: 100%;
    }
}


/* Animação Mario */
@keyframes mario-jump-animation{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 180px;
    }
    100%{
        bottom: 0;
    }
}